
div {
  background-color: yellow;
  height: 200px;
  padding:10px 5px 15px 20px;
}

h1 {
  background-color: yellow;
  height: 30px;
  line-height: 1em;
  padding:10px 5px 15px 20px;
  margin:0px;
}

span {
  color:orangered;
}
